# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv

# PyCharm
.idea/

# Binary dumps
assets/transcendence/dumps
bin
screenshots
screenshot.png
current_board.png